.header {
  width: 100%; }
  .header #main-logo {
    height: 50px;
    vertical-align: middle;
    margin: 17px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .header .nav-bar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px grey; }
    .header .nav-bar ul li {
      display: inline;
      box-sizing: border-box;
      float: left; }
      .header .nav-bar ul li:last-child {
        float: right;
        margin-right: 25px; }
      .header .nav-bar ul li a {
        text-align: left;
        padding: 27px 15px;
        display: block;
        font-size: 21px;
        color: #111;
        background-color: #fff;
        -webkit-transition: background-color .3s ease-out;
        -moz-transition: background-color .3s ease-out;
        -o-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out; }
        .header .nav-bar ul li a:hover {
          color: #111;
          background-color: #ccc;
          -webkit-transition: background-color .3s ease-out;
          -moz-transition: background-color .3s ease-out;
          -o-transition: background-color .3s ease-out;
          transition: background-color .3s ease-out; }
        .header .nav-bar ul li a:focus {
          text-decoration: none; }
  .header #collapsible a {
    display: none; }
  .header #mobile-menu {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    background-color: white;
    visibility: hidden; }
    .header #mobile-menu ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
    .header #mobile-menu li {
      opacity: 0; }
      .header #mobile-menu li a {
        text-align: left;
        font-size: 20px;
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 100%;
        color: var(--header-text); }
  @media screen and (max-width: 767px) {
    .header .nav-bar ul li a {
      display: none;
      padding-right: 25px;
      padding-left: 25px; }
    .header .small-hidden {
      display: none; }
    .header #collapsible {
      float: right; }
      .header #collapsible a {
        display: inline-flex; }
      .header #collapsible:hover {
        display: block;
        text-decoration: none;
        background-color: unset; }
      .header #collapsible:active {
        background-color: var(--header-hover); }
    .header #mobile-menu.opened {
      display: block; }
    .header #mobile-menu li {
      visibility: visible;
      display: block;
      background-color: white;
      animation: fade_in .75s forwards, slide_in .5s forwards ease-out; }
      .header #mobile-menu li:nth-child(2) {
        animation-delay: .15s; }
      .header #mobile-menu li:nth-child(3) {
        animation-delay: .3s; }
      .header #mobile-menu li:nth-child(4) {
        animation-delay: .45s;
        box-shadow: 0 5px 5px -5px grey; } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide_in {
  0% {
    padding-left: 75px; }
  100% {
    padding-left: 25px; } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  10% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

#home {
  background-color: #619dc2;
  color: white;
  text-align: center; }
  #home #stick-to-bottom::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background-color: #619dc2;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #home #header {
    width: 100%; }
  #home .image-container {
    overflow: hidden; }
  #home #face-container {
    margin-top: 50px;
    background-image: url("/images/dab.jpg");
    background-size: cover;
    padding-top: 50%;
    width: 50%;
    border-radius: 50%;
    border: 8px solid #FF5629; }
  #home h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 56px; }
  #home h2::before {
    display: block;
    position: absolute;
    content: '';
    bottom: 70px;
    width: 100px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 10px 0 #fff; }
  @media screen and (max-width: 767px) {
    #home #face-container {
      padding-top: 83.33333333% !important;
      width: 83.3333333% !important; } }
  @media screen and (max-width: 480px) {
    #home h1 {
      font-size: 42px; } }

#skills {
  background-color: #ffffff;
  text-align: left;
  color: #111;
  margin-bottom: 35px; }
  #skills h1, #skills h2, #skills h3, #skills h4 {
    text-align: center; }
  #skills p {
    font-size: 20px; }
  #skills #stick-to-top::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    bottom: -50px;
    left: 50%;
    margin-left: -40px;
    background-color: #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0; }
  #skills #stick-to-top .fixed::before {
    background-color: #ffffff; }
  #skills #im-bored {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #333333;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }
    #skills #im-bored:hover {
      background-color: black !important; }
    #skills #im-bored h3 {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: 'Bungee Shade', cursive !important;
      color: black;
      font-size: 42px; }
    #skills #im-bored h2 {
      font-weight: 700;
      font-size: 42px; }
      @media screen and (max-width: 480px) {
        #skills #im-bored h2 {
          font-size: 28px; } }
  #skills #Malwarebytes img {
    width: 320px; }
  #skills #seds img {
    width: 160px; }
  #skills #synesthetic img {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 130px; }
  #skills hr {
    margin-right: 20%;
    margin-left: 20%;
    border-top: 1px solid #c9c9c9; }
  #skills li {
    text-align: left;
    font-size: 20px; }
  #skills #overlays li {
    text-align: left; }
  #skills .labeler {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px; }

#cool-button {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #333333;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out; }
  #cool-button:hover {
    background-color: black !important; }
  #cool-button h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Bungee Shade', cursive !important;
    color: black;
    font-size: 3em; }

#about {
  background-color: #17A697;
  color: white; }
  #about h1, #about h2, #about h3, #about h4 {
    text-align: center; }
  #about h1 {
    font-size: 36px; }
  #about .about-text {
    text-align: center;
    font-size: 24px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 0; }
  #about .first-about {
    padding-top: 0;
    padding-bottom: 20px; }
  #about .full-screen.background-image {
    height: calc(100vh - 84px); }
    #about .full-screen.background-image .background-cover {
      height: calc(100vh - 84px); }
      #about .full-screen.background-image .background-cover h3 {
        line-height: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0); }
  #about .pushed-down::before {
    display: block;
    position: absolute;
    content: '';
    bottom: 30px;
    width: 100px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 10px 0 #fff; }
  #about svg#bigTriangleColor {
    pointer-events: none; }
  #about #bigTriangleColor path {
    fill: #ffffff; }
  #about #geisal {
    background-image: url("/images/about/geisal.jpg"); }
  #about #freinds {
    background-image: url("/images/about/suit_not_dab.jpg");
    background-position: center top; }
  #about #surfin {
    background-image: url("/images/about/surfin.jpg");
    background-position: center top; }
  #about div[class=background-cover]:hover {
    opacity: 1; }
  #about .background-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    opacity: 0; }
  #about .background-image .background-cover h3 {
    font-size: 30px;
    line-height: 400px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0; }

.contact {
  background-color: #373F51;
  color: white; }
  .contact .outerContact {
    float: left;
    width: 25%;
    text-align: center; }
  .contact .contact-icon {
    width: 50%;
    height: 50%; }
  .contact h1 {
    text-align: center; }
  .contact path {
    fill: #1ed9c3;
    -webkit-transition: fill .3s;
    -moz-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s; }
  .contact .contact-icon:hover path {
    fill: #17A697; }
  .contact #button {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #1ed9c3;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    color: white; }
    .contact #button:hover {
      background-color: #17A697; }
    .contact #button h3 {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: 'BioRhyme', serif !important;
      font-size: 50px; }
  .contact .logos-container {
    margin-top: 20px;
    margin-bottom: 20px; }
  .contact label {
    float: left;
    font-size: 20px; }

.foot-bar {
  width: 100%;
  background-color: #fff;
  color: #111;
  z-index: 1; }
  .foot-bar a {
    color: #111; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 84px !important; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: 'Rubik', sans-serif !important; }
  body #tubing {
    background-image: url("/images/tubing.jpg"); }
  body .centered {
    text-align: center; }
  body .background-image {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    margin-top: 0;
    -webkit-transition: height 1s;
    /* For Safari 3.1 to 6.0 */
    transition: height 1s; }
  @media screen and (max-width: 480px) {
    body h1 {
      font-size: 42px; } }
  body .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand; }
  body .z-high {
    z-index: 1; }
    body .z-high a:hover {
      text-decoration: none; }
  body .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }
