
$header: #fff;
$header-hover: #ccc;
$header-text: #111;
$home-background: #619dc2;
$photo-border: #FF5629;
$portfolio-background: #1ed9c3;
$portfolio-fixed-background: #ffffff;
$experience-fixed-background: #f3f3f3;
$im-bored: #0F5959;
$about-background: #17A697;
$contact-background: #373F51;