@import "colors";

.contact {
    background-color: $contact-background;
    color: white;

    .outerContact {
        float: left;
        width: 25%;
        text-align: center;
    }

    .contact-icon {
        width: 50%;
        height: 50%;
    }

    h1 {
        text-align: center;
    }

    path {
        fill: $portfolio-background;
        -webkit-transition: fill .3s;
        -moz-transition: fill .3s;
        -o-transition: fill .3s;
        transition: fill .3s;
    }

    .contact-icon:hover path {
        fill: $about-background;
    }

    #button {
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 5px;
        background-color: $portfolio-background;
        -webkit-transition: background-color .3s ease-out;
        -moz-transition: background-color .3s ease-out;
        -o-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
        color: white;
        &:hover {
            background-color: $about-background;
        }
        h3 {
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: 'BioRhyme', serif !important;
            font-size: 50px;
        }
    }

    .logos-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label {
        float: left;
        font-size: 20px;
    }
}