@import "colors";

#skills {
    background-color: $portfolio-fixed-background;
    text-align: left;
    color: $header-text;
    margin-bottom: 35px;

    h1,h2,h3,h4 {
        text-align: center;
    }   
    
    p{
        font-size: 20px;
    }

    #stick-to-top{
        &::before{
            position: absolute;
            content: '';
            width: 80px;
            height: 80px;
            bottom: -50px;
            left: 50%;
            margin-left: -40px;
            background-color: $portfolio-fixed-background;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            z-index: 0;
        }

        .fixed::before{
            background-color: $portfolio-fixed-background;
        }
    }

    #im-bored {
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 5px;
        background-color: #333333;
        -webkit-transition: background-color .3s ease-out;
        -moz-transition: background-color .3s ease-out;
        -o-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;

        &:hover {
            background-color: black !important;
        }

        h3 {
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: 'Bungee Shade', cursive !important;
            color: black;
            font-size: 42px;
        }

        h2 {
            font-weight: 700;
            font-size: 42px;
            @media screen and (max-width: 480px) {
                font-size: 28px;
            }
        }
    }

    #Intuit img {
        padding: 15px;
        width:320px;
    }

    #Yonder img {
        padding-top: 15px;
        padding-bottom: 5px;
        width: 130px;
    }

    #Alta img {
        padding: 15px;
    }

    #synesthetic img {
        padding-top: 15px;
        padding-bottom: 5px;
        width: 130px;
    }

    hr {
        margin-right: 20%;
        margin-left: 20%;
        border-top: 1px solid #c9c9c9;
    }

    li{
        text-align: left;
        font-size: 20px;
    }

    #overlays li {
        text-align: left;
    }

    .labeler {
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}