@import "colors";

.header{

    width: 100%;

    #main-logo {
        height: 50px;
        vertical-align: middle;
        margin: 17px;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 20000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 20000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 20000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .nav-bar {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $header;
        box-shadow: 0 1px 5px grey;

        ul li {
            display: inline;
            box-sizing: border-box;
            float: left;

            &:last-child {
                float: right;
                margin-right: 25px;
            }

            a {
                text-align: left;
                padding: 27px 15px;
                display: block;
                font-size: 21px;
                color: $header-text;
                background-color: $header;
                -webkit-transition: background-color .3s ease-out;
                -moz-transition: background-color .3s ease-out;
                -o-transition: background-color .3s ease-out;
                transition: background-color .3s ease-out;

                &:hover {
                    color: $header-text;
                    background-color: $header-hover;
                    -webkit-transition: background-color .3s ease-out;
                    -moz-transition: background-color .3s ease-out;
                    -o-transition: background-color .3s ease-out;
                    transition: background-color .3s ease-out;
                }
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }

    #collapsible a {
        display: none;
    }

    #mobile-menu {

        display: none;
        position: fixed;
        top: 84px;
        left: 0;
        width: 100%;
        background-color: white;
        visibility: hidden;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }

        li {
            opacity: 0;

            a {
                text-align: left;
                font-size: 20px;
                display: inline-block;
                padding-top: 7px;
                padding-bottom: 7px;
                width: 100%;
                color: var( --header-text);
            }
        }
    }

    @media screen and (max-width:767px) {

        .nav_bar ul li a {
            display: none;
            padding-right: 25px;
            padding-left: 25px;
        }

        .small-hidden {
            display: none;
        }

        #collapsible {
            float: right;

            a {
                display: inline-flex;
            }

            &:hover {
                display: block;
                text-decoration: none;
                background-color: unset;
            }

            &:active {
                background-color: var( --header-hover);
            }
        }

        
        #mobile-menu{
        
            &.opened {
                display: block;
            }

            li {
                visibility: visible;
                display: block;
                background-color: white;
                animation: fade_in .75s forwards, slide_in .5s forwards ease-out;

                &:nth-child(2) {
                    animation-delay: .15s;
                }
                &:nth-child(3) {
                    animation-delay: .3s;
                }
                &:nth-child(4) {
                    animation-delay: .45s;
                    box-shadow: 0 5px 5px -5px grey;
                }
            }

        }
    }
}




@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide_in {
    0% {padding-left: 75px;}
    100% {padding-left: 25px;}
}





@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);}
    10% {-moz-transform: rotate(360deg);}
    100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    10% {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}